<?php

namespace ${1:Acme}\${2:Demo}Bundle\Form\Type;

use Symfony\Component\Form\AbstractType;
use Symfony\Component\Form\FormBuilderInterface;

class ${3:Default}Type extends AbstractType
{
    public function buildForm(FormBuilderInterface $builder, array $options)
    {
        $builder->add('${4}');
    }

    public function getName()
    {
        return '';
    }
}
