<?php

namespace ${1:Acme}\${2:Demo}Bundle\Controller;

use Symfony\Bundle\FrameworkBundle\Controller\Controller;

class ${3:Default}Controller extends Controller
{
    public function ${4:index}Action()
    {
        ${5}
        return $this->render('$1$2Bundle:$3:$4.html.twig');
    }
}
